<!-- ======= Sidebar ======= -->
<aside class="sidebar" id="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="dashboard">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <ng-container *ngIf="this.isAdmin()">
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#client-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-people"></i><span>Client</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul class="nav-content collapse " data-bs-parent="#sidebar-nav" id="client-nav">
          <li>
            <a href="components-alerts.html">
              <i class="bi bi-circle"></i><span>Alerts</span>
            </a>
          </li>

        </ul>
      </li><!-- End Client Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#proforma-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-file-earmark-text"></i><span>Profroma</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul class="nav-content collapse " data-bs-parent="#sidebar-nav" id="proforma-nav">
          <li>
            <a href="components-alerts.html">
              <i class="bi bi-circle"></i><span>Alerts</span>
            </a>
          </li>

        </ul>
      </li><!-- End Proforma Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#borderau-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-file-earmark"></i><span>Bordereau</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul class="nav-content collapse " data-bs-parent="#sidebar-nav" id="borderau-nav">
          <li>
            <a href="components-alerts.html">
              <i class="bi bi-circle"></i><span>Alerts</span>
            </a>
          </li>

        </ul>
      </li><!-- End borderau Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#facture-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-file-earmark-pdf-fill"></i><span>Facture</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul class="nav-content collapse " data-bs-parent="#sidebar-nav" id="facture-nav">
          <li>
            <a href="components-alerts.html">
              <i class="bi bi-circle"></i><span>Alerts</span>
            </a>
          </li>

        </ul>
      </li><!-- End Facture Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#article-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-basket-fill"></i><span>Article</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul class="nav-content collapse " data-bs-parent="#sidebar-nav" id="article-nav">
          <li>
            <a routerLink="article">
              <i class="bi bi-circle"></i><span>Table</span>
            </a>
          </li>
        </ul>
      </li><!-- End Article Nav -->

      <li class="nav-heading">Pages</li>

      <li class="nav-item">
          <button (click)="Deconnexion()" type="button" class=" collapsed btn btn-outline-primary">
            <span><i class="bi bi-box-arrow-left"></i> Déconnect</span>
          </button>
      </li>
    </ng-container>
  </ul>

</aside><!-- End Sidebar-->
